.qi-statistics {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
}
.qi-statistics__card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #ffffff;
    padding: 30px 10px;
    box-sizing: border-box;
    margin: 0 10px;
}
.qi-statistics__icon {
    width: 50px;
    height: 50px;
}
.qi-statistics__info {
    display: flex;
    flex-direction: column;
    margin: 0 10px
}
.qi-statistics__info b {
    font-size: 28px;
}
.qi-statistics__info span {
    margin-top: 10px;
}

#qi-gateway-disclaimer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    overflow-y: auto;
    z-index: 99999;
}
#qi-gateway-content {
    width: 80%;
    font-size: 20px;
    line-height: 2;
    background: #ffffff;
    padding: 10px 30px;
    border-radius: 10px;
}
#qi-card-accept-button {
    border: none;
    background: #EFCD5B;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
#qi-card-reject-button {
    border: none;
    background: #c0392b;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}